<head>
    <meta name="viewport">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="/css/Style.css" />

    <style>
        #mainDiv {
            margin-top: 40px;
            font-size: 16pt;
            width: 100%;
            padding-left: 30px; 
        }
        .spacing {
            margin-top: 40px;
        }

        .form-label {
            font-size: 21px;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/Home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/AllEquipment">All Equipment </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/AvailableEquipment">Available Equipment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/RequestForm" tabindex="-1">Request Form</a>
            </li>
            </ul>
        </div>
    </nav>

    <!-- <div>
        <a href="/Home">Home</a> | <a href="/Home/AllEquipment">All Equipment Listing</a> |  <a href="/Home/AvailableEquipment">Available Equipment</a>  |  
        <a href="/Home/RequestForm">Request Form</a> 
    </div> -->
    <div id="mainDiv">
        @RenderBody()
    </div>
    <script src="/js/script.js"></script>
</body>